In [2]:
import pandas as pd
import pyodbc

In [ ]:
server = 'MINHLAP\SQLEXPRESS'
conn = pyodbc.connect('DRIVER={SQL Server};SERVER='+server+';DATABASE=AdventureWorks2019;Trusted_Connection=yes;')
cursor = conn.cursor()

# query data từ  preson.EmailAddress, preson.BusinessEntityAddress, và preson.Address
cursor.execute('''
        SELECT a.AddressID,
            e.EmailAddress,
            a.AddressLine1 as Address,
            a.City,
            a.PostalCode
        FROM Person.EmailAddress as e
        JOIN Person.BusinessEntityAddress as bea
            ON e.BusinessEntityID = bea.BusinessEntityID
        JOIN Person.Address as a
            ON bea.AddressID = a.AddressID
    ''')
# lưu tất cả data vào  dataframe
rows = cursor.fetchall()

columns = [column[0] for column in cursor.description]

df = pd.DataFrame.from_records(rows, columns=columns)

df

<>:1: SyntaxWarning: invalid escape sequence '\S'
<>:1: SyntaxWarning: invalid escape sequence '\S'
C:\Users\quang\AppData\Local\Temp\ipykernel_9160\4251342788.py:1: SyntaxWarning: invalid escape sequence '\S'
  server = 'MINHLAP\SQLEXPRESS'

,AddressID,EmailAddress,Address,City,PostalCode
0,29781,lindsey18@adventure-works.com,"00, rue Saint-Lazare",Dunkerque,59140
1,24231,kendra14@adventure-works.com,"02, place de Fontenoy",Verrieres Le Buisson,91370
2,19637,meredith0@adventure-works.com,"035, boulevard du Montparnasse",Verrieres Le Buisson,91370
3,15671,justin22@adventure-works.com,"081, boulevard du Montparnasse",Saint-Denis,93400
4,13079,jeremy15@adventure-works.com,"081, boulevard du Montparnasse",Seattle,98104
...,...,...,...,...,...
18793,19731,arturo44@adventure-works.com,Zur Lindung 7,Berlin,14129
18794,15768,benjamin24@adventure-works.com,Zur Lindung 7,Neunkirchen,66578
18795,17393,carmen14@adventure-works.com,Zur Lindung 764,Paderborn,33041
18796,29769,lindsey11@adventure-works.com,Zur Lindung 78,Berlin,10791
18797,18050,michele36@adventure-works.com,Zur Lindung 787,München,80074

In [10]:
# lưu thành file csv
df.to_csv('persondata.csv', index=True)